# macOS
.DS_Store

# Xcode user data and build products
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
DerivedData/
build/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager artifacts
.swiftpm/
.build/

# App-specific artifacts
RoboSantaApp/telemetry.json
